<form method="GET" action="/search">

    search:
    <input type="text" name="search-term" size="50" placeholder="please enter a search field">

    <div>
        <button type="submit" >SEARCH</button>
    
    </div>

</form>