<form method="GET" action="/search">

    Search:
    <input type="text" name="search-term" size="50" placeholder="Please enter a search field">
<br><br>
    <div>
        <button type="submit" >SEARCH</button>
    </div>
</form>