<h3>Your search of {{searchterm}}</h3>

<div>
{{#if hascontent}}
    {{#each searchedgifs}}
        <h5>{{this.title}}</h5>
        <img src="{{this.url}}" alt="">
    {{/each}}
{{else}}

<h3>no results</h3>
{{/if}}


</div>